@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-manrope;
  @apply bg-gray-20;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-manrope font-bold;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}